<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <CustomLevels>
    <CustomLevel name="INFO METHOD ASPECT" intLevel="450" />
  </CustomLevels>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.example.orderservice.aspect.LoggerAspect" level="INFO METHOD ASPECT" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>